* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	overflow:hidden;
	
}

	.container {
	background-color: #292929;
	display: grid;
	place-items: center;
	min-height: 100vh;

	}

	.swiper {
	width: 50%;
	border-radius: 23px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	}

	.image__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25rem;

	}

	.swiper-slide{
	border-radius: 23px;
	}

	img{
	display:block;
	border-radius: 23px;
	}

	.image__wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%px;
	object-fit: cover;
	object-position: center top;

	}

	.swiper-pagination{
	position: absolute;
	margin-bottom: 129px;
	}

	.swiper-button-prev, .swiper-button-next{
	position: absolute;
	
	margin-top: -100px;
	}


/* .swiper-pagination-bullet-active { */
/* 	background-color: red; */
/* } */
/**/
/* .swiper-button-prev, */
/* .swiper-button-next { */
/* 	color: red; */
/* } */
/**/
/* .swiper-button-prev:after, */
/* .swiper-button-next:after { */
/* 	font-size: 2rem; */
/* } */
/**/
