* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
	
}

.container {
	background-color: #292929;
	display: grid;
	place-items: center;
	min-height: 100vh;
	
}

.swiper {
	width: 80%;
}

.image__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
	
}

.image__wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	
}

/* .swiper-pagination-bullet-active { */
/* 	background-color: red; */
/* } */
/**/
/* .swiper-button-prev, */
/* .swiper-button-next { */
/* 	color: red; */
/* } */
/**/
/* .swiper-button-prev:after, */
/* .swiper-button-next:after { */
/* 	font-size: 2rem; */
/* } */
/**/
